.chat-list {
    margin: 0;
    padding: 0;
}

.chat-list-item {
    padding: 1rem;
    cursor: pointer;
    border-bottom: 1px solid #f0f4f8;
}

.chat-list-item:hover {
    background-color: #ffffff;
    /* Fallback Color */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e9eff5), to(#ffffff));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(right, #e9eff5, #ffffff);
    /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(right, #e9eff5, #ffffff);
    /* FF3.6 */
    background-image: -ms-linear-gradient(right, #e9eff5, #ffffff);
    /* IE10 */
    background-image: -o-linear-gradient(right, #e9eff5, #ffffff);
    /* Opera 11.10+ */
    background-image: linear-gradient(right, #e9eff5, #ffffff);
}

.chat-list-item.active {
    background-color: #ffffff;
    /* Fallback Color */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f9fb), to(#ffffff));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(right, #f7f9fb, #ffffff);
    /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(right, #f7f9fb, #ffffff);
    /* FF3.6 */
    background-image: -ms-linear-gradient(right, #f7f9fb, #ffffff);
    /* IE10 */
    background-image: -o-linear-gradient(right, #f7f9fb, #ffffff);
    /* Opera 11.10+ */
    background-image: linear-gradient(right, #f7f9fb, #ffffff);
}

.chat-list-item:last-child {
    border-bottom: 0;
}

.user-avatar {
    display: inline-block;
    position: relative;
    margin-right: 10px;
}

.user-avatar img {
    width: 48px;
    height: 48px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
}

.user-status {
    width: 10px;
    height: 10px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background: #e6ecf3;
    position: absolute;
    top: 0;
    right: 0;
}

.user-status.online {
    background: #9ec94a;
}

.user-status.offline {
    background: #c4d2e2;
}

.user-status.away {
    background: #f9be52;
}

.user-status.busy {
    background: #fd7274;
}

@media (max-width: 800px) {

    .user-details {
        display: none;
    }
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

/************************************************
	************************************************
									Chat right side
	************************************************
************************************************/

/*.selected-user {*/
/*    width: 100%;*/
/*    padding: 0 15px;*/
/*    min-height: 64px;*/
/*    line-height: 64px;*/
/*    border-bottom: 1px solid #e6ecf3;*/
/*    -webkit-border-radius: 0 3px 0 0;*/
/*    -moz-border-radius: 0 3px 0 0;*/
/*    border-radius: 0 3px 0 0;*/
/*}*/

/*.selected-user span {*/
/*    line-height: 100%;*/
/*}*/

/*.selected-user span.name {*/
/*    font-weight: 700;*/
/*}*/

/*.chat-container {*/
/*    position: relative;*/
/*    padding: 1rem;*/
/*}*/

/*.chat-container li.chat-left,*/
/*.chat-container li.chat-right {*/
/*    display: flex;*/
/*    flex: 1;*/
/*    flex-direction: row;*/
/*    margin-bottom: 40px;*/
/*}*/

/*.chat-container li img {*/
/*    width: 48px;*/
/*    height: 48px;*/
/*    -webkit-border-radius: 30px;*/
/*    -moz-border-radius: 30px;*/
/*    border-radius: 30px;*/
/*}*/

/*.chat-container li .chat-avatar {*/
/*    margin-right: 20px;*/
/*}*/

/*.chat-container li.chat-right {*/
/*    justify-content: flex-end;*/
/*}*/

/*.chat-container li.chat-right > .chat-avatar {*/
/*    margin-left: 20px;*/
/*    margin-right: 0;*/
/*}*/

/*.chat-container li .chat-name {*/
/*    font-size: .75rem;*/
/*    color: #999999;*/
/*    text-align: center;*/
/*}*/

/*.chat-container li .chat-text {*/
/*    padding: .4rem 1rem;*/
/*    -webkit-border-radius: 4px;*/
/*    -moz-border-radius: 4px;*/
/*    border-radius: 4px;*/
/*    background: #ffffff;*/
/*    font-weight: 300;*/
/*    line-height: 150%;*/
/*    position: relative;*/
/*}*/

/*.chat-container li .chat-text:before {*/
/*    content: '';*/
/*    position: absolute;*/
/*    width: 0;*/
/*    height: 0;*/
/*    top: 10px;*/
/*    left: -20px;*/
/*    border: 10px solid;*/
/*    border-color: transparent #ffffff transparent transparent;*/
/*}*/

/*.chat-container li.chat-right > .chat-text {*/
/*    text-align: right;*/
/*}*/

/*.chat-container li.chat-right > .chat-text:before {*/
/*    right: -20px;*/
/*    border-color: transparent transparent transparent #ffffff;*/
/*    left: inherit;*/
/*}*/

/*.chat-container li .chat-hour {*/
/*    padding: 0;*/
/*    margin-bottom: 10px;*/
/*    font-size: .75rem;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    margin: 0 0 0 15px;*/
/*}*/

/*.chat-container li .chat-hour > span {*/
/*    font-size: 16px;*/
/*    color: #9ec94a;*/
/*}*/

/*.chat-container li.chat-right > .chat-hour {*/
/*    margin: 0 15px 0 0;*/
/*}*/

/*@media (max-width: 767px) {*/
/*    .chat-container li.chat-left,*/
/*    .chat-container li.chat-right {*/
/*        flex-direction: column;*/
/*        margin-bottom: 30px;*/
/*    }*/
/*    .chat-container li img {*/
/*        width: 32px;*/
/*        height: 32px;*/
/*    }*/
/*    .chat-container li.chat-left .chat-avatar {*/
/*        margin: 0 0 5px 0;*/
/*        display: flex;*/
/*        align-items: center;*/
/*    }*/
/*    .chat-container li.chat-left .chat-hour {*/
/*        justify-content: flex-end;*/
/*    }*/
/*    .chat-container li.chat-left .chat-name {*/
/*        margin-left: 5px;*/
/*    }*/
/*    .chat-container li.chat-right .chat-avatar {*/
/*        order: -1;*/
/*        margin: 0 0 5px 0;*/
/*        align-items: center;*/
/*        display: flex;*/
/*        justify-content: right;*/
/*        flex-direction: row-reverse;*/
/*    }*/
/*    .chat-container li.chat-right .chat-hour {*/
/*        justify-content: flex-start;*/
/*        order: 2;*/
/*    }*/
/*    .chat-container li.chat-right .chat-name {*/
/*        margin-right: 5px;*/
/*    }*/
/*    .chat-container li .chat-text {*/
/*        font-size: .8rem;*/
/*    }*/
/*}*/

/*.chat-form {*/
/*    padding: 15px;*/
/*    width: 100%;*/
/*    left: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    background-color: #ffffff;*/
/*    border-top: 1px solid white;*/
/*}*/

/*ul {*/
/*    list-style-type: none;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/
/*.card {*/
/*    border: 0;*/
/*    background: #f4f5fb;*/
/*    -webkit-border-radius: 2px;*/
/*    -moz-border-radius: 2px;*/
/*    border-radius: 2px;*/
/*    margin-bottom: 2rem;*/
/*    box-shadow: none;*/
/*}*/