html,
body {
    height: 100%;
}

.my-6 {
    margin-top: 4.5rem!important;
    margin-bottom: 4.5rem!important;
}

.mt-20 {
    margin-top: 20vh !important;
}

.mw-330 {
    max-width: 330px !important;
}

.pr-2 {
    padding-right: 2.375rem !important;
}

.border-right {
    border-right: 1px solid #dee2e6 !important;
}
