html,
body {
    height: 100%;
}

body {
    background-color: #f5f5f5;
}

.h-10 {
    height: 10% !important;
}

.h-80 {
    height: 80% !important;
}

.mt-20 {
    margin-top: 20vh !important;
}

.mw-330 {
    max-width: 330px !important;
}
