{% extends "base.html" %}

{% block title %}Chat - Log in{% endblock %}

{% block content %}
<div class="container mw-330 vh-100 text-center">
    <img class="my-6" src="{{ url_for('static', filename='img/icon.svg') }}" alt="" width="70" height="70">
    <form action="/login" method="POST">
        {{ form.csrf_token }}
        <div class="form-floating mb-3">
            {{ form.email(
                class="form-control" + (" is-invalid" if form.email.errors else ""),
                placeholder="Email"
            ) }}
            {{ form.email.label }}
        </div>
        <div class="form-floating mb-3">
            {{ form.password(
                class="form-control" + (" is-invalid" if form.password.errors else ""),
                placeholder="Password"
            ) }}
            {{ form.password.label }}
        </div>
        {{ form.submit(class="w-100 btn btn-lg btn-primary mb-5") }}
    </form>
    <a href="/signup" class="w-100 btn btn-lg btn-success" role="button">Create new account</a>
    <p class="mt-5 text-muted">Michał Pstrąg &copy; 2022</p>
</div>
{% endblock %}