{% extends "base.html" %}

{% block title %}Chat{% endblock %}

{% block link %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
{% endblock %}

{% block content %}
<div class="container-fluid vh-100">
    <div class="row vh-100">
        <!-- Title start -->
        <div class="py-2 col-12 d-flex justify-content-between align-items-center border-bottom">
            <h1>Chats</h1>
            <a role="button" href="{{ url_for('auth.logout') }}" class="btn btn-outline-secondary">Logout</a>
        </div>
        <!-- Title stop -->

        <!-- Sidebar start -->
        <div class="container-fluid col-3 h-fill border-right">
            <div class="h-100 d-flex flex-column">
                <!-- Searchbar start -->
                <div class="d-flex align-items-center my-2">
                    <input type="search" class="form-control" placeholder="Search" aria-label="Search" />
                </div>
                <!-- Searchbar stop -->

                <!-- Users list start -->
                <div class="p-0 overflow-auto">
                    <ul id="chats" class="chat-list"></ul>
                </div>
                <!-- Users list stop -->
            </div>
        </div>
        <!-- Sidebar stop -->

        <!-- Chat start -->
        <div class="col-9 p-0 h-fill chat d-flex flex-column">
            <!-- Chat header start -->
            <div class="d-flex p-3 border-bottom">
                <div class="user-avatar">
                    <img src="https://www.bootdey.com/img/Content/avatar/avatar3.png" alt="">
                    <span class="user-status busy"></span>
                </div>
                <div>
                    <h6 class="m-b-0">Aiden Chavez</h6>
                    <small>Last seen: 2 hours ago</small>
                </div>
            </div>
            <!-- Chat header stop -->

            <!-- Chat messages start -->
            <div class="h-fill-chat overflow-auto chat-history">
                <ul class="m-0 p-2">
                </ul>
            </div>
            <!-- Chat messages stop -->

            <!-- Chat message input start -->
            <div class="p-2">
                <textarea name="" class="form-control message-textarea" placeholder="Type your message..."></textarea>
            </div>
            <!-- Chat message input stop -->
        </div>
        <!-- Chat stop -->
    </div>
</div>
{% endblock %}

{% block script %}
<script id="chat-template" type="text/html">
    <li id="recipient-{% raw %}{{ recipientId }}{% endraw %}" class="chat-list-item d-flex justify-content-center align-items-center list-group-item list-group-item-action border-0">
        <div class="user-avatar">
            <img src="https://www.bootdey.com/img/Content/avatar/avatar3.png" alt="">
            <span class="user-status busy"></span>
        </div>
        <div class="user-details w-100 text-truncate">
            <div>
                <span class="fs-6 fw-bold">{% raw %}{{ recipientName }}{% endraw %}</span>
            </div>
            <div class="d-flex justify-content-between text-truncate">
                <small class="text-muted text-truncate">{% raw %}{{ senderName }}: {{ body }}{% endraw %}</small>
                <small class="text-muted">{% raw %}{{ createdAt }}{% endraw %}</small>
            </div>
        </div>
    </li>
</script>

<script src="https://unpkg.com/mustache@4.2.0/mustache.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment.min.js"></script>
<script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
{% endblock %}
